[Unit]
Description=Video Download Service

[Service]
User=vds
Group=vds
ExecStart=/usr/local/bin/video-download-service

# Keep this service running
# (Haven't seen this, but just in case)
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
